.table {
    background-color: #EFEFEF;
    display: block;
    width: 100%;
    padding: 10px 10px;
    margin: 20px auto 0 auto;
    box-sizing: border-box;
    max-width: 800px;
}

.cell {
    display: inline-block;
    width: 60%;
    vertical-align: top;
}

.btn-cell {
    display: inline-block;
    width: 40%;
}

.btn-toolbar {
    margin-right: auto;
    margin-left: auto;
}

@media(max-width: 700px) {
    .table {
        margin-top: 0px;
    }
}
